extends layout_kor.pug 
block variables 
    -var menuType = 1

block div
    section.jumbotron.jumbotronBg1 
        div.container
            p.jumbotronLead Signatures
    section 
        div#wrapper 
            div#content.lesson
                h4.lessonTitle 정규 레슨
                p.lessonIntro 사고의 유연성을 길러 세계 어디서든 품격을 갖춘 글로벌 인재 육성을 목표로 합니다.
                div.lessonContent
                    img(src="../images/lessonImage1.png")
                    ul
                        li
                            span 01
                            h5 자연스러운 습득
                            p 
                                |만 49개월 미만의 아이들은 언어를 그 언어 자체로 인지합니다.
                                |아이의 특성을 고려하여 다양한 영역에서 균형있는 발달과 사고의 유연성을 돕습니다.
                        li
                            span 02
                            h5 맞춤 설계
                            p
                                |현재뿐만 아니라 앞으로 다가올 미래에 대한 사회문화적 맥락을 고려하고 유대인 교육철학인 하브루타 교육방식을 접목한 융합 프로그램으로 맞춤 설계합니다.
                        li
                            span 03
                            h5 초석 다지기
                            p 
                                |아이가 흥미를 느끼고 온전히 몰입하여 다채로운 놀이를 통해 자기표현을 할 수 있도록 초석을 다집니다.
                        li
                            span 04
                            h5 대상
                            p 
                                |분리가 가능하고 앉을 수 있는 월령 ~ 만 48개월 1:1 혹은 1:2로 진행합니다. 
    style.
        .lessonContent {margin:0 auto; align-items: center; justify-content: center;}
        .lessonContent > * {}
        .lessonContent img {height: 60rem; width: 35rem; border-radius:2rem; margin:0; margin-right:4rem;}
        .lessonContent ul {margin-left: 4rem; max-width: 55rem;}
        .lessonContent li {display: flex; flex-wrap: wrap; align-items: center; border:0!important;}
        .lessonContent li span {font-size:0; width: 1rem; height: 1rem; border-radius: 50%; background-color: orange;}
        .lessonContent li h5 {color:#1d1d1f; font-weight:400;}
        .lessonContent li p {width: 100%; font-size:2.1rem; margin-top: 1.5rem; margin-left: 3rem;}