extends layout_kor.pug 
block variables 
    -var menuType = 1

block div
    section.jumbotron.jumbotronBg1 
        div.container
            p.jumbotronLead Signatures
    section 
        div#wrapper 
            div#content.lesson
                h4.lessonTitle 테마 레슨
                p.lessonIntro(style={'margin-bottom':'8rem'}) 만 49개월 이상의 아이들을 대상으로 다양한 직간접 경험을 시켜주기 위하여 고안된 소규모 레슨입니다.
                div.lineNumber 
                    span 01
                div.lessonThemeContent2
                    ul 
                        li
                            h5 Class Harpatka
                            img(src="../images/lessonImage2.png")
                    p
                        |하르팟카 클래스는 영어와 한국어로 진행되며 하브루타식 글로벌 사고확장을 도모합니다.
                        |추후 문해력 향상, 사고력 확장, 사고 유연성 등 전반적으로 긍정적인 영향을 끼칩니다.
                div.lineNumber 
                    span 02
                div.lessonThemeContent2
                    ul    
                        li
                            h5 Class Bitahon
                            img(src="../images/lessonImage3.png")
                    p
                        |비타혼 클래스는 영국 연극연출가와 함께하는 자기주도 연극 프로그램입니다.
                        |아이들은 직접 영어로 캐릭터 선정, 대사 작성, 소품 제작 등 나만의 연극을 완성합니다.
    style. 
        .lineNumber {display: flex; justify-content: center; padding-top: 60px;}
        .lineNumber span{display:flex; position: relative; justify-content: center; align-items: center; width: 5rem; height: 5rem; border-radius:50%;}
        .lineNumber span:before{position: absolute; content:''; width: 1px; height: 60px; top: -60px; background-color:#222;}